body {
	background-color: white;
}

#header {
	background-color: black;
	color: white;

	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;

	text-align: center;

	font-size: 30px;
}

.band {
	margin-left: 100px;
}

.band img {
	float: left;

	width: 80px;
	height: 80px;

	padding-right: 7px;
}

.band h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

.band p {
	padding-bottom: 40px;
}

.band a {
	color: black;
}

.band a:hover {
	text-decoration: none;
}
